{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services</h1>


    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            </div>
             <h3>SEO</h3>
            <p class="ss-color">SEO helps improve your website’s visibility on search engines like Google. By optimizing content, structure, and keywords, SEO drives more organic traffic, boosts rankings, and enhances user experience, leading to better online visibility and long-term growth.</p>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            </div>
            <h3>Web Design</h3>
            <p class="ss-color">Web design focuses on creating visually appealing and user-friendly websites. It includes layout, color schemes, typography, and navigation to ensure a seamless and engaging experience for visitors, ultimately enhancing usability and brand presence.</p>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            </div>
            <h3>Web Development</h3>
            <p class="ss-color">Web development involves building and maintaining websites, focusing on functionality and performance. It includes both front-end (design, user interface) and back-end (server, database) development to create dynamic, responsive, and efficient websites.</p>
        </div>
    </div>


    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="fab fa-android fa-2x mb-3 i-color"></i>
            </div>
            <h3>Android</h3>
            <p class="ss-color">Android development involves creating mobile applications for Android devices. It includes designing intuitive user interfaces, integrating functionalities, and optimizing performance to deliver seamless, responsive apps for users on the Android platform.</p>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="fab fa-apple fa-2x mb-3 i-color"></i>
            </div>
            <h3>IOS</h3>
            <p class="ss-color">iOS development focuses on building mobile applications for Apple devices. It involves creating user-friendly interfaces, integrating features, and optimizing performance to deliver high-quality, responsive apps for iPhone and iPad users.</p>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
            </div>
            <h3>Advertising</h3>
            <p class="ss-color">Advertising involves promoting products or services through various channels to reach a targeted audience. It includes digital marketing strategies like social media ads, Google ads, and display ads to increase brand awareness and drive engagement.</p>
        </div>
    </div>


    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
            </div>
            <h3>Logo Design</h3>
            <p class="ss-color">Logo design is the process of creating a unique and memorable symbol that represents a brand’s identity. It combines creativity, typography, and color theory to craft a design that reflects the brand’s values and resonates with its audience.</p>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            </div>
            <h3>Hosting</h3>
            <p class="ss-color">Hosting services provide the infrastructure to store and manage your website or application on the internet. It ensures your site is accessible online, offering reliable uptime, security, and performance to support smooth user experiences.</p>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            </div>
            <h3>Support</h3>
            <p class="ss-color">Support services help maintain and troubleshoot websites or applications, ensuring they run smoothly. It includes technical assistance, bug fixes, updates, and resolving user issues to ensure optimal performance and customer satisfaction.</p>
        </div>
    </div>
    


</div>

{% endblock content %}